<main>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/" class="nav-link px-2 text-white">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active-link"  class="nav-link px-2 text-white">About</a></li>
            <li><a routerLink="/products" routerLinkActive="active-link" class="nav-link px-2 text-white">Products</a></li>
            <li><a routerLink="/contact" routerLinkActive="active-link" class="nav-link px-2 text-white">Contact</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" class="nav-link px-2 text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Support
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/customer-support" routerLinkActive="active-link" >Customer Support</a></li>
                  <li><a class="dropdown-item" routerLink="/admin-support" routerLinkActive="active-link">Admin Support</a></li>
                </ul>
              </li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
            <button type="button" class="btn btn-outline-light me-2">
                <i class="bi bi-cart-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="b-example-divider"></div>
      <!-- <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  
        <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px" data-bs-theme="light">
          <ul class="list-unstyled mb-0">
            <li class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <a routerLink="/home"  class="btn btn-primary w-100">Home</a>  
            </li>
            <li class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <a routerLink="/product" class="btn btn-success w-100">Product</a>
             </li>
            <li class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <a routerLink="/contact"  class="btn btn-dark w-100">Contact</a>
            </li>
            
          </ul>
        </div>
      </div> -->
      <br/>
      <div class="b-example-divider"></div>
  
      <router-outlet></router-outlet>
    </div>
  </main>